n8n.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        688,
        -64
      ],
      "id": "03a29c30-3052-412d-9054-203c21dd18c3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://news.google.com/rss/search?q=Inteligencia+Artificial&hl=pt-BR&gl=BR&ceid=BR:pt-419",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        912,
        -64
      ],
      "id": "d71e6d52-625f-4a6b-a919-9ca1eb58597a",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "jsCode": "// 1. Pega apenas as 5 primeiras notícias (as mais recentes)\nconst noticias = $input.all().slice(0, 5);\n\n// 2. Cria a instrução inicial blindada\nlet textoParaIA = \"Aqui estão as principais notícias de Inteligência Artificial de hoje. Use EXATAMENTE os links e títulos fornecidos abaixo. Não invente dados.\\n\\n\";\n\n// 3. Faz o loop para organizar os dados\nnoticias.forEach((item, index) => {\n  textoParaIA += `Notícia ${index + 1}:\\n`;\n  textoParaIA += `Título: ${item.json.title}\\n`;\n  textoParaIA += `Conteúdo: ${item.json.contentSnippet}\\n`; \n  textoParaIA += `Link original: ${item.json.link}\\n`;\n  \n  // Enviando a data exata para a IA calcular o \"Há x horas\"\n  textoParaIA += `Data de Publicação: ${item.json.pubDate}\\n`; \n  \n  // Como confirmamos que o Google News não manda a foto, já enviamos como nulo\n  textoParaIA += `Link da imagem: Sem imagem fornecida\\n`; \n  \n  textoParaIA += `------------------------\\n\\n`;\n});\n\n// 4. Devolve tudo empacotado em 1 único item para a IA ler!\nreturn [{ json: { textoAgrupado: textoParaIA } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -64
      ],
      "id": "4e03448b-4240-4bb6-bbbb-a82759baab48",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "openai/gpt-oss-120b",
          "mode": "list",
          "cachedResultName": "OPENAI/GPT-OSS-120B"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Sua Função: Você é um assistente de processamento de dados e formatação editorial. Sua única tarefa é ler um conjunto de notícias fornecidas e transformá-las em um objeto JSON válido e estrito.\n\nRegras de Ouro (CRÍTICAS):\n\nVocê NÃO PODE inventar, alucinar ou criar links falsos.\n\nVocê deve usar EXATAMENTE os links fornecidos no campo \"Link original\" do texto de entrada para preencher o campo \"url\" do JSON.\n\nSe o texto de entrada indicar \"Sem imagem fornecida\", use \"https://via.placeholder.com/400x250\" como fallback.\n\nRetorne APENAS o JSON válido. Não inclua blocos de código markdown (como ```json), introduções ou explicações.\n\nRegra Estrita de Estrutura de Saída (JSON Válido):\nVocê deve gerar OBRIGATORIAMENTE um único objeto JSON contendo exatamente as seguintes chaves e formatos:\n\n\"Main_HTML\": Uma string contendo o HTML da matéria principal. Use <h2> para o título e <p> para o resumo.\n\n\"Urgentes_HTML\": Uma string contendo de 3 a 5 tags <span> com manchetes curtas.\n\n\"Mais_Lidas_HTML\": Uma string contendo EXATAMENTE 5 tags <li>. Exemplo: <li><strong>Título</strong><p>CATEGORIA · Há 1h</p></li>\n\n\"Grid_Noticias\": Um array contendo os objetos de todas as notícias fornecidas. Cada objeto DEVE ter:\n\n\"imagem\": URL da foto ou o placeholder.\n\n\"url\": O \"Link original\" EXATO fornecido no texto de entrada.\n\n\"titulo\": O título principal da notícia.\n\n\"resumo\": Texto curto de até 3 linhas.\n\n\"categoria\": Uma palavra em letras maiúsculas (ex: \"TECNOLOGIA\").\n\n\"tempo\": Tempo estimado baseado na data de publicação (ex: \"Há 2h\", \"Ontem\")."
            },
            {
              "content": "={{ $json.textoAgrupado }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 4000,
          "store": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1328,
        -64
      ],
      "id": "6d3ef903-5136-4660-9451-1a608d99ac43",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "MByrADkqXg3ztbQv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1LxpSo3KAN760GIenk1baL-NX51AWPCnEJTw_tzq03E0",
          "mode": "list",
          "cachedResultName": "Planilha sem título",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LxpSo3KAN760GIenk1baL-NX51AWPCnEJTw_tzq03E0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 571006788,
          "mode": "list",
          "cachedResultName": "Página2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LxpSo3KAN760GIenk1baL-NX51AWPCnEJTw_tzq03E0/edit#gid=571006788"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy') }}",
            "Main_HTML": "={{ JSON.parse($json.output[0].content[0].text).Main_HTML }}",
            "Urgentes_HTML": "={{ JSON.parse($json.output[0].content[0].text).Urgentes_HTML }}",
            "Mais_Lidas_HTML": "={{ JSON.parse($json.output[0].content[0].text).Mais_Lidas_HTML }}",
            "Grid_Noticias_JSON": "={{ JSON.stringify(JSON.parse($json.output[0].content[0].text).Grid_Noticias) }}"
          },
          "matchingColumns": [
            "Data"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Main_HTML",
              "displayName": "Main_HTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Urgentes_HTML",
              "displayName": "Urgentes_HTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mais_Lidas_HTML",
              "displayName": "Mais_Lidas_HTML",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Grid_Noticias_JSON",
              "displayName": "Grid_Noticias_JSON",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1664,
        -64
      ],
      "id": "eef5bb23-08a5-4939-8eed-0af59f60df9a",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lKBXKuQyWRUcG4ZH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LxpSo3KAN760GIenk1baL-NX51AWPCnEJTw_tzq03E0",
          "mode": "list",
          "cachedResultName": "Noticias",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LxpSo3KAN760GIenk1baL-NX51AWPCnEJTw_tzq03E0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LxpSo3KAN760GIenk1baL-NX51AWPCnEJTw_tzq03E0/edit#gid=0"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2080,
        -64
      ],
      "id": "024443ea-9559-4511-b056-cc5a32c6251e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lKBXKuQyWRUcG4ZH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "523f850d-8988-4842-b930-78ea2af3b7f0",
              "leftValue": "={{ $json[\"Notif. Email\"] }}",
              "rightValue": "Sim",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2288,
        -192
      ],
      "id": "d9a70e38-91c3-4295-bd18-a50e9ccbfafa",
      "name": "Filter"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Noticias sobre  IA",
        "message": "=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\">\n</head>\n<body style=\"margin: 0; padding: 0; font-family: 'Helvetica Neue', Arial, sans-serif; background-color: #f4f7f6; color: #333333;\">\n  <div style=\"max-width: 600px; margin: 20px auto; background-color: #ffffff; padding: 30px; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.05);\">\n    \n    <h1 style=\"color: #1a252f; text-align: center; margin-bottom: 5px;\">A Sua Dose de IA</h1>\n    <p style=\"text-align: center; color: #555; margin-top: 0; font-size: 16px;\">\n      Olá, <strong>{{ $json.Nome }}</strong>! Veja todas as atualizações de hoje:\n    </p>\n    <hr style=\"border: 0; border-top: 1px solid #eee; margin: 25px 0;\">\n\n    {{ JSON.parse($('Message a model').first().json.output[0].content[0].text).Grid_Noticias.map(noticia => `\n      <div style=\"margin-bottom: 30px; padding-bottom: 20px; border-bottom: 1px solid #f0f0f0;\">\n        \n        <span style=\"font-size: 11px; background-color: #e2e8f0; color: #475569; padding: 4px 8px; border-radius: 4px; text-transform: uppercase; font-weight: bold;\">\n          ${noticia.categoria} • ${noticia.tempo}\n        </span>\n        \n        <h3 style=\"margin: 12px 0 8px 0; font-size: 18px; line-height: 1.4;\">\n          <a href=\"${noticia.url}\" style=\"color: #0056b3; text-decoration: none;\" target=\"_blank\">\n            ${noticia.titulo}\n          </a>\n        </h3>\n        \n        <p style=\"margin: 0 0 12px 0; color: #555; font-size: 15px; line-height: 1.6;\">\n          ${noticia.resumo}\n        </p>\n        \n        <a href=\"${noticia.url}\" style=\"font-size: 14px; color: #d9534f; text-decoration: none; font-weight: bold;\" target=\"_blank\">\n          Ler matéria completa ➔\n        </a>\n      </div>\n    `).join('') }}\n    <p style=\"text-align: center; font-size: 12px; color: #999; margin-top: 30px;\">\n      Enviado para o e-mail <strong>{{ $json.Email }}</strong>.<br>\n      Gerado e enviado automaticamente via n8n \n    </p>\n\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2496,
        -192
      ],
      "id": "e700f855-8ab5-48a3-8430-a2555d9cafdd",
      "name": "Send a message",
      "webhookId": "445267e3-daed-46b2-84d1-f07784e5e520",
      "credentials": {
        "gmailOAuth2": {
          "id": "LJwAJy18QF6jWHg6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "@PSIA_noticias_ia",
        "text": "=📰 **A Sua Dose de Inteligência Artificial!** Aqui estão as atualizações de hoje:  {{ JSON.parse($('Message a model').first().json.output[0].content[0].text).Grid_Noticias.map(noticia => `🔥 **${noticia.titulo}** ${noticia.resumo} 🔗 [Ler matéria completa](${noticia.url})`).join('\\n\\n\\n') }}  🤖 *Enviado automaticamente via n8n*",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1920,
        128
      ],
      "id": "47f13edd-a45d-468d-8b9d-5e5a53e0d79d",
      "name": "Send a text message",
      "webhookId": "bb8f6904-a310-40f5-999a-16b88d83e3aa",
      "credentials": {
        "telegramApi": {
          "id": "7a0HYfvkPfNKFX0F",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Read": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c3f0bd16-c505-4f3c-9e32-18b7d1ad4d14",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ad3940c91b3b21457dd71b31abaac5a3e1e5a923bf2f51f602fdce6108f408b"
  },
  "id": "0TsguoXnFaIDNOtt",
  "tags": []
}